h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  display: inline-block;
}
#cityName {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 6px;
}

h2 {
  color: white;
  display: inline-block;
}

h1 .fa-sun:before {
  font-size: 45px;
  color: #f4bb19;
}

.date {
  color: white;
  display: block;
  font-weight: bolder;
}

.live-weather {
  color: white;
  display: inline-block;
  font-size: 13px;
}

.temp-range {
  color: white;
  display: inline-block;
  font-size: 13px;
}

.fa-cloud-sun:before,
.fa-sun:before,
.fa-cloud-showers-heavy:before {
  font-size: 30px;
}

.fa-sun:before {
  color: #f4bb19;
}

.fa-cloud-sun:before {
  color: #4483ea;
}

.fa-cloud-showers-heavy:before {
  color: #b7b7b7;
}

.uv-index,
.rain-chance,
.humidity,
.forecast,
.units,
.row,
.wind,
#wind-speed {
  color: white;
}

.uv-index {
  display: inline-block;
  text-align: center;
}
.uv-number {
  font-weight: bold;
  display: inline-block;
}

.rain-chance {
  display: inline-block;
}

.humidity {
  display: inline-block;
}

.units {
  font-weight: bold;
}

#celsius {
  color: white;
  text-decoration: none;
}
#celsius:hover {
  color: lightskyblue;
}

#fahrenheit {
  color: white;
  text-decoration: none;
}
#fahrenheit:hover {
  color: lightskyblue;
}

.col-1 {
  text-align: center;
  flex: auto;
}

.form-control {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  left: -285px;
  bottom: -95px;
}

input {
  display: inline-block;
}

form {
  display: inline-block;
}

.open-source {
  color: white;
}

.container.border.border-4 {
  margin-top: 20px;
  padding: 40px;
  border-radius: 50px;
  max-width: 640px;
  height: 410px;
  border-color: white !important;
}

.current-temp {
  border: 3px solid white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-white {
  color: white;
}

body {
  background: linear-gradient(to right, rgb(128, 0, 128), rgb(255, 192, 203));
}
